*token*

# The config folder is opt in
configs/config/*
!configs/config/htop
!configs/config/create-project.json

# The SSH folder is opt in for security reasons
ssh/*
!ssh/config
!ssh/known_hosts
!ssh/rc
.DS_Store

# Files that should never be checked in and shamefully store unencrypted tokens
hub
.npmrc
